.badge{
    padding: 0 3px;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: -15px;
    right: 10px;
    width: 0.7rem;
}