.boxProductos {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .capProduct {
    line-height: unset;
    background-color: #6785c1;
    width: 100%;
    margin-top: -20px;
    color: white;
    border-radius: 5px 5px 0px 0px;
  }